.icon {
  width: 1em;
  height: 1em;
  vertical-align: -0.15em;
  fill: currentColor;
  overflow: hidden; }

* {
  margin: 0;
  padding: 0; }

* {
  box-sizing: border-box; }

*::after {
  box-sizing: border-box; }

*::before {
  box-sizing: border-box; }

ul, ol {
  list-style: none; }

a {
  color: inherit;
  text-decoration: none; }

input {
  font: inherit; }

body {
  font-size: 12px;
  line-height: 1.5; }

* {
  font-size: 20px; }

body header
.logo {
  background: #b2b2b2;
  display: flex;
  align-content: center;
  flex-direction: row;
  color: white; }
  body header
.logo .leftWaper {
    flex-grow: 1;
    display: flex; }
  body header
.logo .WYlogo {
    height: 25px;
    width: 25px;
    margin: 22px 5px 22px 14px; }
  body header
.logo .logoText {
    margin: 19px 0px 18px 3px;
    display: inline-block;
    font-size: 18px; }
  body header
.logo .link {
    margin-right: 10px; }

.page {
  display: flex;
  flex-direction: column;
  height: 100vh;
  background: transparent no-repeat center url(http://p3.music.126.net/z4p2xss2a50qNHe6TLFdoA==/2425522650910827.jpg);
  background-size: cover; }
  .page .disc-containner {
    position: relative; }
    .page .disc-containner .icon-wrapper {
      border: 1px solid red;
      z-index: 1;
      position: absolute;
      display: flex;
      justify-content: center;
      align-items: center; }
      .page .disc-containner .icon-wrapper .icon {
        width: 60px;
        height: 60px;
        position: absolute; }
    .page .disc-containner .pinter {
      position: absolute;
      width: 100px;
      z-index: 1;
      margin-left: 15vw; }
    .page .disc-containner .disc {
      display: flex;
      justify-content: center;
      align-items: center;
      width: 100%;
      margin-top: 200px; }
      .page .disc-containner .disc .ring {
        width: 300px; }
      .page .disc-containner .disc .light {
        position: absolute;
        width: 300px; }
      .page .disc-containner .disc .cover {
        position: absolute;
        border-radius: 50%;
        width: 186px; }
  .page .disc-containner.playing .light,
  .page .disc-containner.playing .cover {
    animation-play-state: running; }
  .page .disc-containner .icon-pause {
    display: none; }
  .page .disc-containner.playing .icon-pause {
    display: block; }
  .page .disc-containner.playing .icon-play {
    display: none; }
  .page .song-description {
    flex-grow: 1;
    color: grey;
    text-align: center;
    line-height: 2;
    margin-top: 20px; }
    .page .song-description h1 {
      color: white;
      font-size: 18; }
    .page .song-description p {
      font-size: 15px;
      line-height: 24px;
      border: 1px solid red; }
    .page .song-description p.active {
      color: white; }
    .page .song-description .lines {
      transition: transform 0.3s; }
    .page .song-description .lyric {
      height: 72px;
      overflow: hidden; }
